
<style>
body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 100px;
  box-sizing: border-box;
}

footer {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: auto;
}
</style>

    <footer class="site-footer">
        <div class="footer-inner bg-white">
            <div class="row">
                <div class="col-sm-6">
                    Copyright &copy; Digital City
                </div>
                <div class="col-sm-6 text-right">
                    Designed by <a href="#">Digital City</a>
                </div>
            </div>
        </div>
    </footer>