
<style>
body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 100px;
  box-sizing: border-box;
}

footer {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: auto;
}
</style>

<div style="margin-top: 20px;">
    <footer class="footer">
      <div class="row">
        <div class="col-12 text-center text-sm-center mt-3">
          <small class="text-muted d-block">Copyright © 2021 <a href="http://www.digitalpark.uz"
            target="_blank">Digital City Andijan</a>. All rights reserved</small>
          </div>
        </div>
      </footer>
  </div>