{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'mini/navbar.html' %}

<div class="row">
        
        
    <div class="col-lg-4 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-4">
                        <i class="pe-7s-airplay text-center"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-text"><span class="count">{{total_places_count}}</span></div>
                            <div class="stat-heading">Barcha joylar</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-4 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-1">
                        <i class="ti-link"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-text"><span class="count">{{busy_places_count}}</span></div>
                            <div class="stat-heading">Band joylar</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-2">
                        <i class="pe-7s-next-2"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-text"><span class="count">{{free_places_count}}</span></div>
                            <div class="stat-heading">Bo'sh joylar</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        
</div>


     
<br>
<div class="row">
    <div class="col-md-6">
        <div class="card">
       
        <div class="card-body">
            <h4 class="box-title">Barcha bo'sh joylar:</h4>
        </div>
            <div class="table-stats order-table ov-h">
                <table class="table">
                    <tr>
                        <th>Joy egasi</th>
                        <th>Manzili</th>
                        <th>Narxi</th>
                        <th>Joy holati</th>
                        <th>Ko'rish</th>

                        {% for free in free_P %}
                        <tr>   
                            <td><span> {{free.owner}}</span></td>
                            <td><span >{{free.address|truncatechars:9}}</span> </td>
                            <td><span >{{free.price}}</span></td>
                            <td><span class="badge" style="background-color: green;">{{free.busy}}</span></td>
                            <td><a class="btn btn-sm btn-info" href="{% url 'joy_detail' free.id %}">Batafsil</a></td>  
                        </tr>
                        {% endfor %}
                    </tr>
                </table> <hr>
                <nav aria-label="Page navigation example">
                    <ul class="pagination" >
                        {% if free_P.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{free_P.previous_page_number }}">oldingi sahifa</a>
                        </li>
                        {% endif %} 
            
                        {% for i in num_of_free %}
                        <li class="page-item"><a class="page-link" href="?page={{forloop.counter}}">
                        {{forloop.counter}}
                        </a></li>
                        {% endfor %}
                
                        {% if  free_P.has_next%}
                        <li class="page-item">
                            <a class="page-link" href="?page={{free_P.next_page_number}}" >keyingi sahifa</a>
                        </li>
                        {% endif %}             
                    </ul>
                </nav>
            </div>
        </div>
    </div>


    <div class="col-md-6">
        <div class="card">
       
        <div class="card-body">
            <h4 class="box-title">Barcha band joylar:</h4>
        </div>
            <div class="table-stats order-table ov-h">
                <table class="table">
                    <tr>
                        <th>Joy egasi</th>
                        <th>Manzili</th>
                        <th>Narxi</th>
                        <th>Joy holati</th>
                        <th>Ko'rish</th>

                        {% for busy in busy_P %}
                        <tr>   
                            <td><span> {{busy.owner}}</span></td>
                            <td><span >{{busy.address|truncatechars:9}}</span> </td>
                            <td><span >{{busy.price}}</span></td>
                            <td><span class="badge " style="background-color: crimson;">{{busy.busy}}</span></td>
                            <td><a class="btn btn-sm btn-info" href="{% url 'joy_detail' busy.id %}">Batafsil</a></td>  
                        
                        </tr>
                        {% endfor %}
                    </tr>
                </table> <hr>
                <nav aria-label="Page navigation example">
                    <ul class="pagination" >
                        {% if busy_P.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page2={{busy_P.previous_page_number }}">oldingi sahifa</a>
                        </li>
                        {% endif %} 
            
                        {% for i in num_of_busy %}
                        <li class="page-item"><a class="page-link" href="?page2={{forloop.counter}}">
                        {{forloop.counter}}
                        </a></li>
                        {% endfor %}
                
                        {% if busy_P.has_next%}
                        <li class="page-item">
                            <a class="page-link" href="?page2={{busy_P.next_page_number}}" >keyingi sahifa</a>
                        </li>
                        {% endif %}             
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

{% endblock content %}