{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'mini/navbar.html' %}

      <div class="row">
        
         <div class="col-lg-3 col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-4">
                            <i class="pe-7s-cash"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">{{orders_count}}</span></div>
                                <div class="stat-heading">Amaldagi Buyurtmalar soni</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
      </div>

<br>
<div class="row">
    <div class="col">
        <div class="card ">
            <div class="card-body">


            </div>
        </div>
    </div>
</div>


     
<br>
<div class="row">
    <div class="col-md-12">
        <div class="card">
       
            <div class="card-body">
                <h4 class="box-title">Amaldagi Buyurtmalar</h4>
                <hr>
                <div style="width: 50%;">
                    <a class="btn btn-sm btn-primary btn-block" href="{% url 'create_order' %}">Buyurtma yaratish</a>
                    
                </div>
            </div>
                <div class="table-stats order-table ov-h">
                    <table class="table">
                <tr>
                    <th>Tadbirkor</th>
                    <th>Joy</th>
                    <th>Boshlanish sanasi</th>
                    <th>Tugash sanasi</th>
                    <th>O'zgartirish</th>
                    <th>O'chirish</th>
                </tr>

                {% for i in orders %}
                <tr>
                    <td>{{ i.tadbirkor.name }}</td>
                    <td>{{ i.place.address }}</td>
                    <td>{{ i.start_date }}</td>
                    <td>{{ i.end_date }}</td>
                    <td><a class="btn btn-sm btn-info" href="{% url 'update_order' i.id %}">O'zgartirish</a></td>
                    <td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' i.id %}">O'chirish</a></td>    
                </tr>
                {% endfor %}
                    
                </table>
            </div>
        </div>

    </div>
</div>

{% endblock content %}