{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'mini/navbar.html' %}

      <div class="row">
        
         <div class="col-lg-3 col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-4">
                            <i class="pe-7s-cash text-info"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">{{now_count}}</span></div>
                                <div class="stat-heading">Amaldagi Buyurtmalar </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-4">
                            <i class="pe-7s-check text-danger"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">{{history_count}}</span></div>
                                <div class="stat-heading">Vaqti yakunlangan buyurtmalar </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
      </div>



     
<br>
<div class="row">
    <div class="col-md-6">
        <div class="card">
       
            <div class="card-body" style="display: flex; justify-content: space-between;">
                <h4 class="box-title">Amaldagi buyurtmalar</h4>
                <hr>
                <a class="btn btn-primary" href="{% url 'create_order' %}"><span>+</span></a>
                
            </div>
                <div class="table-stats order-table ov-h">
                    <table class="table">
                <tr>
                    <th>Tadbirkor</th>
                    <th>Joy</th>
                    <th>Boshlanish sanasi</th>
                    <th>Tugash sanasi</th>
                    <th>Amallar</th>
                </tr>

                {% for i in current_orders %}
                <tr>
                    <td>{{ i.tadbirkor.name }}</td>
                    <td>{{ i.place.address|truncatechars:9}}</td>
                    <td>{{ i.start_date }}</td>
                    <td>{{ i.end_date }}</td>
                    <td>
                        <a class="btn btn-sm btn-info" href="{% url 'update_order' i.id %}"><i class="fa fa-pencil-square-o"></i></a>
                        <a type="button" class="btn btn-sm btn-danger" href="{% url 'delete_order' i.id %}"><i class="fa fa-trash-o"></i></a>                                     
                    </td>   
                    
                </tr>
                {% endfor %}
                    
                </table>
            </div>
        </div>

    </div>



    <div class="col-md-6">
        <div class="card">
       
            <div class="card-body">
                <h4 class="box-title">Vaqti yakunlangan buyurtmalar</h4>
                
            </div>
                <div class="table-stats order-table ov-h">
                    <table class="table">
                <tr>
                    <th>Tadbirkor</th>
                    <th>Joy</th>
                    <th>Boshlanish sanasi</th>
                    <th>Tugash sanasi</th>
                    <th>Amallar</th>
                </tr>

                {% for i in history %}
                <tr>
                    <td>{{ i.tadbirkor.name }}</td>
                    <td>{{ i.place.address|truncatechars:9 }}</td>
                    <td>{{ i.start_date }}</td>
                    <td>{{ i.end_date }}</td>
                    <td>
                        <a class="btn btn-sm btn-info" href="{% url 'update_order' i.id %}"><i class="fa fa-pencil-square-o"></i></a>
                        <a type="button" class="btn btn-sm btn-danger" href="{% url 'delete_order' i.id %}"><i class="fa fa-trash-o"></i></a>                                     
                    </td>        
                    
                </tr>
                {% endfor %}
                    
                </table>
            </div>
        </div>

    </div>
</div>

{% endblock content %}