{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'mini/navbar.html' %}

{% include 'mini/status.html' %}




<br>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
           
            <div class="card-body">
                <h4 class="box-title">Joy Egalari </h4>
            </div>
                <div class="table-stats order-table ov-h">
                    <table class="table">
                        <tr>
                            <th>Ismi</th>
                            <th>Telefon</th>
                            <th>Joylari soni</th>
                            <th>Ko'rish</th>

                            {% for i in egasi %}
                            <tr>   
                                <td><span >{{i.username}}</span> </td>
                                <td><span >{{i.phone}}</span></td>
                                <td><span >{{i.places_count}}</span></td>

                               
                                <td><a class="btn btn-sm btn-info" href="{% url 'owner_detail' i.id %}">Batafsil</a></td>
                            
                            </tr>
                            {% endfor %}
                        </tr>
                    </table> <hr>
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination" >
                        {% if egalari_P.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{egalari_P.previous_page_number }}">oldingi sahifa</a>
                        </li>
                        {% endif %} 
            
                        {% for i in num_of_egalari %}
                        <li class="page-item"><a class="page-link" href="?page={{forloop.counter}}">
                        {{forloop.counter}}
                        </a></li>
                        {% endfor %}
                
                        {% if  egalari_P.has_next%}
                        <li class="page-item">
                            <a class="page-link" href="?page={{egalari_P.next_page_number}}" >keyingi sahifa</a>
                        </li>
                        {% endif %}             
                    </ul>
                  </nav>    
            </div>
        </div>
    </div>


{% endblock content %}